@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
*{
    font-family: 'ABeeZee', sans-serif;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
}
.nav-item a{
    font-weight: 600;
    font-size: 135%;
    letter-spacing: 1.5px;
    padding: 5px 12px !important;
}
header{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.185);
}
.header_company_name{
    width: fit-content;
}
.header_company_name h1 {
    overflow: hidden;
    border-right: .15em solid #FE8800;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    color: #FE8800 !important;
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
    text-shadow: -2px 2px rgb(0, 0, 0);
}
.header_background_video{
    position: fixed; 
    top: -250px; 
    min-width: 100vw; 
    min-height: 100vh; 
    z-index: -1; 
    right: calc(50% - 1920px/2); 
    bottom: calc(50% - 1080px/2);
}
@media screen and (max-width: 460px){
    .header_company_name h1 {
        font-size: 38px;
    }    
}
@media screen and (max-width: 390px){
    .header_company_name h1 {
        font-size: 34px;
    }    
}
@media screen and (max-width: 360px){
    .header_company_name h1 {
        font-size: 29px;
    }    
}
@media screen and (max-width: 310px){
    .header_company_name h1 {
        font-size: 26px;
    }    
}
/* Typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FE8800; }
}
.header_ride_button {
    width: 200px;
    height: 60px;
    background: transparent;
    border: 1.4px solid white;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    font-size: 20px;
}
.header_ride_button:hover {
    color: #FE8800;
    background: white;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.contact_submit_button{
    background-color: #FE8800;
    outline: none;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    color: white;
}
.contact_submit_button:hover{
    background-color: #f18100;
    transition: 0.1s;
}
.contact_submit_button:focus{
    box-shadow: 0 0 0 0.25rem #fe870079;
    transition: 0.3s;
}
footer{
    background-color: rgba(0, 0, 0);
}
@media screen and (max-width: 768px){
    #foot_left {
        text-align: center !important;
    }
}
#foot_sms{
    justify-content: center;
}
.foot_socialmedia{
    color: white;
}
.foot_socialmedia:hover{
    color: rgba(255, 255, 255, 0.562);
    transition: 0.4s;
}
#foot_mail_id{
    text-align: right !important;
    margin: 0 !important;
    padding: 0 !important;
}
@media (max-width: 768px) {
    #foot_mail_id{
        text-align: center !important;
    }
    #foot_telephone{
        text-align: center !important;
    }
    #foot_left{
        text-align: center !important;
    }
}
.foot_mail{
    text-decoration: none;
    color: white;
}
.foot_mail:hover{
    color: rgba(255, 255, 255, 0.562);
    transition: 0.4s;
}
.foot_tel{
    text-decoration: none;
    color: white;
}
.foot_tel:hover{
    color: rgba(255, 255, 255, 0.562);
    transition: 0.4s;
}
